In [1]:
import pandas as pd

#df_one = pd.DataFrame(columns=["Date of Transaction", "Branch Name", "Amount of Sales", "Is Active"])
df_one_data = {
    "Date of Transaction": ["August 1", "August 2"],
    "Branch Name": ["Charley", "Robert"],
    "Amount of Sales": [5.0, 3.2],
    "Is Active": [False, False]
}
df_one = pd.DataFrame(df_one_data)
df_one

  Date of Transaction Branch Name  Amount of Sales  Is Active
0            August 1     Charley              5.0      False
1            August 2      Robert              3.2      False

In [2]:
df_two_data = {
    "Date of Transaction": ["January 1", "February 3"],
    "Branch Name": ["Herb", "Bentley"],
    "Amount of Sales": [5.0, 3.2],
    "Is Active": [True, False]
}

df_two = pd.DataFrame(df_two_data)
df_two

  Date of Transaction Branch Name  Amount of Sales  Is Active
0           January 1        Herb              5.0       True
1          February 3     Bentley              3.2      False

In [3]:
df_concat = pd.concat([df_one, df_two], axis=0)
df_concat

  Date of Transaction Branch Name  Amount of Sales  Is Active
0            August 1     Charley              5.0      False
1            August 2      Robert              3.2      False
0           January 1        Herb              5.0       True
1          February 3     Bentley              3.2      False

In [4]:
df_concat.reset_index(drop=True, inplace=True)
df_concat

  Date of Transaction Branch Name  Amount of Sales  Is Active
0            August 1     Charley              5.0      False
1            August 2      Robert              3.2      False
2           January 1        Herb              5.0       True
3          February 3     Bentley              3.2      False